<div class="wrapper bg-pink">
	<div class="coming-soon-box text-center">
		<%= image_tag "TPB-logo-big-pink.png", alt: "The Peel Boutique London" %>
		<h2>COMING SOON</h2>
		<p><%= link_to "thepeelboutique@gracebelgravia.com", "mailto:thepeelboutique@gracebelgravia.com"%></p>
	</div>
</div>
