<div class="wrapper bg-mousecode">
	<div class="coming-soon-box text-center">
		<%= image_tag "Mousecode-Web-Design-Web-Development.png", alt: "Mousecode Web Design Web Development" %>
		<h4 class="floating"><%= link_to "info@mouse-code.com", "mailto:info@mouse-code.com"%></h4>
	</div>
</div>
